html, body {
}

html {
  position: relative;
  min-height: 100%;
  overflow: hidden;

  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

body {
  background: url(images/background.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -210px;
  margin-top: 56px;
  font-family: 'Roboto', sans-serif;
}

#main-navbar {
  background: #00728F;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

#main-navbar .navbar-brand {
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.25rem;
}

#main-navbar .navbar-brand span {
  font-weight: 900;
}

#main-navbar .navbar-toggler {
  border: none;
  color: #ffffff;
  padding: 0;
}

#main-navbar .form-inline .input-group {
  margin: 0 auto;
}

.navbar-breadcrumb {
  background: #000000 !important;
}

.navbar-breadcrumb .navbar-toggler {
  border: none;
  color: #ffffff;
  padding: 0;
}

.navbar-breadcrumb .navbar-text {
  max-width: 50vw;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.1875rem;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 0.75rem;
  margin: 0px 0 20px 0;
}

.thumbnail-holder {
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  border: 2px solid #ffffff;
}
.img-thumbnail {
  background: none;
  border-radius: 0;
  padding: 0;
}

.btn-outline-dark {
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 100px; /* Vertically center the text there */
}

.footer .row-work-timer {
  background: #7D0D00;
  color: #ffffff;
}

.footer .row-work-timer .label {
  font-size: 1.25rem;
  line-height: 1.25rem;;
  word-spacing: 100vw;
  text-align: left;
  font-weight: bold;
  padding-top: 28px;
}

.footer .row-work-timer .icon {
  font-size: 1.125rem;
  text-align: center;
}

.footer .row-work-timer .icon .fa-stack-2x {
  font-size: 1.95em;
}

.footer .row-work-timer .icon .fa-stack-1x {
  font-size: 1.125rem;
}

.footer .row-work-timer .timer {
  line-height: normal;
}

.footer .row-work-timer .timer .indicator {
  width: 100%;
  font-size: 2.1875rem;
  font-weight: bold;
  text-align: right;
  padding-top: 18px;
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
}

.footer .row-work-timer .timer .helper-text {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: right;
  display: inline-block;
  position: relative;
  top: -5px;
}

.home-screen h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  word-spacing: 100vw;
}

.home-screen .footer .btn {
  margin-top: 30px;
}

.exercise-screen h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-screen img {
  width: 100%;
}

.row-exercise {
  text-align: center;
}

.row-exercise img {
  max-height: 60vh;
}

.row-exercise.bg-white {
  position: absolute;
  width: 100%;
}

.row-exercise.bg-white h1 {
  color: #000000;
}

.row-rest-timer,
.row-workout-finished {
  width: 100%;
  background: #2a8f00cc;
  text-align: center;
  color: #ffffff;
  position: absolute;
}

.row-rest-timer h1,
.row-workout-finished h1 {
  padding-top: 50px;
  font-size: 2.1875rem;
}

.row-rest-timer .icon {
  font-size: 1.125rem;
  text-align: center;
}

.row-rest-timer .icon .fa-stack-2x {
  font-size: 1.95em;
}

.row-rest-timer .icon .fa-stack-1x {
  font-size: 2rem;
}

.row-rest-timer .timer .indicator {
  width: 100%;
  font-size: 2.8125rem;
  font-weight: bold;
  padding-top: 18px;
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
}

.row-rest-timer .timer .helper-text {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 300;
  display: inline-block;
  position: relative;
}

.row-next-exercise {
  background: #195203;
  color: #ffffff;
}

.row-next-exercise .label {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.row-next-exercise button {
  background: none;
  border: none;
  color: #ffffff;
}

.row-exercise,
.row-rest-timer,
.row-work-timer,
.row-next-exercise,
.row-workout-finished {
  display: none;
}

.row-exercise.active,
.row-rest-timer.active,
.row-work-timer.active,
.row-next-exercise.active,
.row-workout-finished.active {
  display: flex;
}

.fluid-media {
  position: relative;
  padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
}

.fluid-media iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 60vh;
}

.mobile-wrapper {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}